<!-- <div>
<form class="form-inline" method="POST" action="/register">
  <input class="form-control mr-sm-2" name="email" placeholder="Email">
  <button class="btn btn-outline-light my-sm-0" type="email">
  <input class="form-control mr-sm-2" name="password" placeholder="password">
  <button class="btn btn-outline-light my-sm-0" type="password">
  </form>
</div> -->

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
	<form action="/register" method="post">
  	Email:<br>
  	<input type="email" name="email" placeholder="Email" required><br><br>
  	Password:<br>
  	<input type="password" name="password" placeholder="Password" required><br><br>
    <button class="btn btn-outline-light my-sm-0">
      Login</button>
	</form>
  </body>
</html>